[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fritzconnection = "==1.5.0"
yamldataclassconfig = "==1.5.0"
prometheus-client = "==0.11.0"

[dev-packages]
pytest = "==6.2.4"
pytest-cov = "==2.12.0"
pytest-sugar = "==0.9.4"

[requires]
python_version = "3.9"

[scripts]
fritz_node_exporter = "python3 -m fritz_node_exporter"

